/* a=0 b=0 c=1 -> Especificidad = 001 */
body {
    display: grid;
    grid-template-areas:
            "header"
            "section"
            "footer"
}

/* a=0 b=0 c=1 -> Especificidad = 001 */
header {
    grid-area: header;
}

/* a=0 b=0 c=1 -> Especificidad = 001 */
section {
    grid-area: section;
    margin: 8px;
}

/* a=0 b=0 c=1 -> Especificidad = 001 */
footer {
    grid-area: footer;
}