/* a=0 b=0 c=1 -> Especificidad = 001 */
body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "header header"
        "main   aside"
        "footer footer"
}

/* a=0 b=0 c=1 -> Especificidad = 001 */
header {
    grid-area: header;
}

/* a=0 b=0 c=1 -> Especificidad = 001 */
aside {
    grid-area: aside;
    margin: 8px;
}

/* a=0 b=0 c=1 -> Especificidad = 001 */
main {
    grid-area: main;
    margin: 8px;
}

/* a=0 b=0 c=1 -> Especificidad = 001 */
footer {
    grid-area: footer;
}